
html *
{
    color: rgb(63, 63, 65);
    box-sizing: border-box;
   
}

.page-header{
    margin-bottom: 25px;
    margin-top: 25px;
}

.content{
    max-width: 750px !important;
    margin:auto; 
}
.book-info{
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

p.divider {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  p.divider * {
    flex-shrink: 0
  }
  p.divider span.divider {
    width: 100%;
    flex-shrink: 1;
    border-bottom: 1px solid black;
    margin: 5px
  }

  .search-buttons{
      margin-bottom: 10px;
  }

  /* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.loader {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .loader {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loader{
    display: block;
}
